DATABASE_URL=postgresql://postgres:postgres@localhost:5445/accounting_db
RUST_LOG=debug
JWT_SECRET=Your_jwt_secret

DOMAIN=твой-домен.ru
EMAIL=ты@почта.ru

POSTGRES_USER=accounting
POSTGRES_PASSWORD=<openssl rand -base64 24>
POSTGRES_DB=accounting_db